.main{
    display: grid;
    justify-content: center;
    padding: auto 140px;
}
@media only screen and (min-width: 900px) {
    .main {
      padding: 0 1.2rem;
    }
}  
.heading{
text-align: center;
font-weight: bold;
font-size: 4rem;

}
.title{
    text-align: center;
}
.text{
    text-align: left;
    display: block;
    margin: 0 150px;
}